<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.auctionapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".domain.user.view.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/hup_icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/hup_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AuctionApp"
        android:usesCleartextTraffic="true">
        <activity android:name=".domain.item.view.QnA"></activity>
        <activity
            android:name=".domain.home.view.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".domain.user.view.SignUp" />
        <activity android:name=".domain.user.view.Login" />
        <activity android:name=".domain.item.view.ItemDetail" />
        <activity android:name=".domain.pricesuggestion.view.BidPage" />
        <activity android:name=".domain.home.view.UploadPage" />
        <activity android:name=".domain.home.view.SelectCategory" />
        <activity android:name=".domain.item.view.Search" />
        <activity android:name=".domain.pricesuggestion.view.AuctionHistory" />
        <activity android:name=".domain.item.view.SellHistory" />
        <activity android:name=".domain.home.view.Notice" />
        <activity android:name=".domain.home.view.NoticeDetail" />
        <activity android:name=".domain.scrap.view.Scrap" />
        <activity android:name=".domain.item.view.Interests" />
        <activity android:name=".domain.chat.view.ChatRoom" />
        <activity android:name=".domain.pricesuggestion.view.FeesPage" />
        <activity android:name=".domain.pricesuggestion.view.GoChat"/>
        <activity android:name=".domain.item.view.EditQnA" />


        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <activity android:name=".MainActivity" />
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="6605274d9a8165288410480f4bd1fa9b" />
            </intent-filter>
        </activity>
    </application>

</manifest>